binaryornot==0.4.0
chardet==2.3.0
click==6.3
cookiecutter==1.3.0
dj-database-url==0.4.1
Django==1.9.4
djangocms-installer==0.8.7
future==0.15.2
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.6.2
pytz==2016.3
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.7
six==1.10.0
tzlocal==1.2.2
whichcraft==0.1.1
